body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.body-property {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
}
header {
  display: flex;
  direction: row;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #244F79;
  padding-left: 30px;
  padding-bottom: 20px;
}
.my-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 15px 0px 0px 25px;
}
.title h1 {
  padding-left: 40px;
}
.navigation {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
  background-color: #ECA6AF;
  width: 750px;
  height: 25px;
  margin-bottom: 15px;
}
.navigation-list {
  text-transform: capitalize;
  color: #1095F3;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.navigation-list a {
  text-decoration: none;
}
.navigation-list a:hover {
  color: #461852;
}
b {
  font-weight: bold;
}
.main-about {
  display: flex;
  direction: column;
}
.main-content-part h3 {
  font-size: 22px;
  color: #125495;
  font-weight: bold;
  margin-bottom: 10px;
}
.aboutMe-block {
  line-height: 1.3;
  padding-right: 40px;
}
.main-content-part {
  padding: 10px 20px 5px 30px;
  line-height: 1.3;
}
.main-content-part p {
  padding-bottom: 10px;
}
.main-content-part a {
  color: #1095F3;
  font-weight: bold;
}
.main-content-part a:hover {
  color: #721772;
}
.list-style {
  list-style-type: disc;
  margin-left: 40px;
}
