body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    width: 850px;
    font-family: 'Josefin Sans', sans-serif;
}
header {
  display: flex;
  direction: row;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #244F79;
  padding-left: 30px;
  padding-bottom: 10px;
}
.title h1 {
  padding-left: 40px;
}
.logo {
  width: 125px;
  height: 125px;
}
.navigation {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
  background-color: #EB6478;
  width: 800px;
  height: 25px;

}
.navigation-list {
  text-transform: capitalize;
  color: #244F79;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.navigation-list a {
  text-decoration: none;
}
.navigation-list a:hover {
  color: #461852;
}
b {
  font-weight: bold;
}
.my-photo {
  padding-top: 20px;
  padding-right: 10px;

}
#about-me {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px 10px 0px 20px;

}
.main-content-part h3 {
  font-size: 22px;
  color: #125495;
  font-weight: bold;
  margin-bottom: 10px;
}
.aboutMe-block {
  margin: 15px;
  line-height: 1.3;
}
.main-content-part {
  padding: 15px 55px;
  line-height: 1.3;
}
.main-content-part p {
  padding-bottom: 10px;
}
.main-content-part a {
  text-decoration: none;
}
